body {
    background-color: #1c1c1c;
    color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
}

.navbar-custom {
    background-color: #181818;
}

#logo {
    width: 65px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#title {
    margin-top: 4vh;
}

.start-screen {
    margin-top: 20vh;
}

#start-button {
    width: 25vw;
    height: 16vh;
    font-size: 1.5em;
}

#game-select-request {
    text-align: center;
    font-size: 1.2em;
}

.game-option-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.game-option {
    width: 80vw;
    aspect-ratio: 4/3;
    margin-bottom: 4%;
    margin-right: 3%;
    margin-left: 3%;
    background-repeat: round;
    display: flex;
    align-items: flex-end;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.9);
    transition-duration: 0.5s;
}

.game-option:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#bollywood, #hollywood {
    background-image: url(movie.jpg);
}

#songs {
    background-image: url(songs.jpg);
}

#games {
    background-image: url(games.jpg);
}

#sports {
    background-image: url(sports.png);
}

#characters {
    background-image: url(characters.jpg);
}

#disney {
    background-image: url(disney.jpg);
}

#marvel {
    background-image: url(marvel.png);
}

#harrypotter {
    background-image: url(harrypotter.jpg);
}

#pokemon {
    background-image: url(pokemon.jpg);
}

#starwars {
    background-image: url(starwars.jpg);
}

#food {
    background-image: url(food.jpg);
}

#countries {
    background-image: url(country.jpg);
}

#modernfamily {
    background-image: url(modernfamily.jpg);
}

.game-option span {
    width: 100%;
    height: 16%;
    background-color: rgba(12, 12, 12, 0.5);
    text-align: center;
    font-size: 1.4em;
}

#landscape-request-text {
    font-size: 2em;
    margin-top: 10vh;
}

.landscape-request {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-game {
    width: 100%;
    justify-content: space-between;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    margin-left: 3%;
}

#game-reset {
    width: 20%;
}

#game-word {
    font-size: 3em;
}

.correct, .wrong {
    margin-top: 10%;
}

#correct-text, #wrong-text {
    font-size: 3em;
}

#correct-text {
    color: #00FF00;
}

#wrong-text {
    color: #FF0000;
}

@media (min-width: 400px) {
    .game-option {
        width: 40vw;
        margin-bottom: 2%;
    }

    .game-option span {
        font-size: 1em;
    }
}

@media (min-width: 600px) {
    .game-option span {
        font-size: 1.2em;
    }
}

@media (min-width: 750px) {
    .game-option {
        width: 20vw;
        margin-bottom: 3%;
    }

    .game-option span {
        font-size: 1em;
    }
}

@media (min-width: 1100px) {
    .game-option span {
        font-size: 1.4em;
    }
}

@media (min-width: 1350px) {
    .game-option span {
        font-size: 1.6em;
    }
}